.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header  a{
    text-decoration: none;
    color: black;
}

.header__left{
    flex: 0.8;
}

.header__right{
    flex: 0.2;
    display: flex;
    justify-content: center;
}

.header__gallery{
    display: flex;
    justify-content: space-around;
    flex: 1;
}